name: example
description: route_handler package example app

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  route_handler:
    path: '../'

flutter:
  uses-material-design: true
