name: route_handler
description: A simple abstraction that provides a structured guideline for named route handling in Flutter
version: 1.0.0+3
homepage: https://github.com/magicleon94/route_handler

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
